<script>
    $(document).ready(function() {
        // let expenses = new Expenses();
        // expenses.registerEvents($("#association-container"));
    });
</script>

<div id="association-container">

</div>