<div class="btn-group maintanance-dd">
    <button type="button" class="btn btn-light dropdown-toggle" id="month" val="Month" data-toggle="dropdown">Month</button>
    <div class="dropdown-menu maintanance-month" aria-labelledby="month">
      <a class="dropdown-item" href="javascript:;">January</a>
      <a class="dropdown-item" href="javascript:;">February</a>
      <a class="dropdown-item" href="javascript:;">March</a>
      <a class="dropdown-item" href="javascript:;">April</a>
      <a class="dropdown-item" href="javascript:;">May</a>
      <a class="dropdown-item" href="javascript:;">June</a>
      <a class="dropdown-item" href="javascript:;">July</a>
      <a class="dropdown-item" href="javascript:;">August</a>
      <a class="dropdown-item" href="javascript:;">September</a>
      <a class="dropdown-item" href="javascript:;">October</a>
      <a class="dropdown-item" href="javascript:;">November</a>
      <a class="dropdown-item" href="javascript:;">December</a>
    </div>
</div>
<div class="btn-group maintanance-dd">
    <button type="button" class="btn btn-light dropdown-toggle" id="year" val="Year" data-toggle="dropdown">Year</button>
    <div class="dropdown-menu maintanance-year" aria-labelledby="year">
      <a class="dropdown-item" href="javascript:;">2020</a>
      <a class="dropdown-item" href="javascript:;">2021</a>
      <a class="dropdown-item" href="javascript:;">2022</a>
      <a class="dropdown-item" href="javascript:;">2023</a>
      <a class="dropdown-item" href="javascript:;">2024</a>
    </div>
  </div>