<script>
  $(document).ready(function() {
    var editor = new FroalaEditor("#richtext-editor", {
        imageUploadURL: "/forum/uploadImage",
        imageUploadParam: "image"
      });
    var compose = new Compose();
    compose.registerEvents("#newforum-container");
    compose.registerEditorEvents(editor);
  })
</script>

<div id="newforum-container" class="newforum-container container-fluid">
  <form id="newforum-form">
    <div class="form-group">
      <input class="form-control" type="text" name="title" placeholder="Title of the post">
    </div>
    <div class="richtext-editor">
      <textarea name="content" id="richtext-editor"></textarea>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-primary" type="submit">Post</button>
        <button class="btn btn-outline-primary btn-cancel">Cancel</button>
    </div>
  </form>
</div>
<%- include("partials/loading") -%>
