<script>
  $(document).ready(function() {
    var complaint = new Complaint();
    complaint.registerEvents("#complaints-container");
  });
</script>
<div id="complaints-container" class="complaints-container container-fluid">
  ehlloe
</div>
<%- include("partials/loading") -%>
