<div class="forum-container container-fluid">
  <div class="posts">
    <div class="post">
      <div class="title">
        <h5>Vegetables & Fruits</h5>
      </div>
      <div class="content">
        <p>Vegetables van has been arranged to come to our premises weekly 2 days on
          wednesday and friday. Please follow social distancing to ensure safety.
          The vendor will be available from 10AM to 1PM.</p>
      </div>
    </div>
    <div class="post">
      <div class="title">
        <h5>Vegetables & Fruits</h5>
      </div>
      <div class="content">
        <p>Vegetables van has been arranged to come to our premises weekly 2 days on
          wednesday and friday. Please follow social distancing to ensure safety.
          The vendor will be available from 10AM to 1PM.</p>
      </div>
    </div>
    <div class="post">
      <div class="title">
        <h5>Vegetables & Fruits</h5>
      </div>
      <div class="content">
        <p>Vegetables van has been arranged to come to our premises weekly 2 days on
          wednesday and friday. Please follow social distancing to ensure safety.
          The vendor will be available from 10AM to 1PM.</p>
      </div>
    </div>
  </div>

</div>
