<%- include("partials/home-header") -%>

<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/home.js"></script>
<script type="text/javascript" src="js/settings.js"></script>
<script type="text/javascript" src="js/forum.js"></script>

<div id="profile" class="profile full-height">
  <!-- <i id="toggler-menu" class="toggler-icon fas fa-bars"></i> -->
  <div class="row full-height">
    <div class="col-3 left-pane">
      <div class="position-fixed">
        <ul class="menu-options">
          <li class="apt-title"><img class="leftpane-logo" src="images/stepsstone-logo.png" alt="Logo">Ananthaya</li>
          <li class="menu-option active" name="/home"><i class="fas fa-home"></i>Home</li>
          <li class="menu-option" name="/maintanance"><i class="fas fa-rupee-sign"></i>Maintance</li>
          <li class="menu-option" name="/home"><i class="fas fa-money-check"></i>Common Expenses</li>
          <li class="menu-option" name="/forums"><i class="fab fa-wpforms"></i>Forums</li>
          <li class="menu-option" name="/contacts"><i class="fas fa-address-book"></i>Contacts</li>
          <li class="menu-option" name="/settings"><i class="fas fa-user"></i>Settings</li>
          <li class="menu-option logout" name="" id="logout">Sign Out</li>
        </ul>
      </div>
    </div>
    <div id="rightpane" class="col-9 profile-body">
      <%- include(template) -%>
      <div id="loading" class="loading-screen hide">
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {
    var home = new Home($("#profile"));
    home.registerEvents();
  });
</script>

<%- include("partials/footer") -%>
