<div id="maintanance" class="maintanance-container container-fluid">
</div>
<!-- <script type="text/javascript" src="js/gpay.js"></script> -->
<!-- <script async src="https://pay.google.com/gp/p/js/pay.js" onload="GooglePay()"></script>

<script>
  function GooglePay() {
    window.paymentsClient = new google.payments.api.PaymentsClient({
      environment: "TEST"
    });
  }
</script> -->
