.contact-pic {
  object-fit: cover;
  width: 60%;
  height: auto;
  border-radius: 50%;
  border: 10px solid white;
  margin-bottom: 1rem;
}


.contact {
  margin: 5% 0;
}

.contact-col {
  padding: 3% 0;
}

.contact-col p {
  color: #ff3333;
}
