.forums-container.container-fluid {
  padding: 2% 0;
}

.post {
  background-color: white;
  margin: 4%;
  box-shadow: 3px 3px 20px #ffe0cc;
  max-height: 9rem;
  overflow: hidden;
  padding: 2%;
}

.post:hover {
  cursor: pointer;
}

.image-sec {
  padding: 1.5%;
}

.post-pro-pic {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 1rem;
}

.post-sec h5 {
  color: #ff3333;
  padding: 1% 0;
  border-bottom: 2px solid #ffe0cc;
}

.comments-sec {
  opacity: 70%;
}

.comments-sec .far {
  font-size: 1.5rem;
  padding: 10%;
}


/* second page */

.forum-container {
  max-width: 92%;
  background-color: white;
  margin: 4%;
  box-shadow: 3px 3px 20px #ffe0cc;
  padding: 6%;
  position: relative;
}

.forum-title {
  margin-bottom: 0;
  margin-top: 2%;
}

.forum-date {
  opacity:70%;
  font-size: 0.8rem;
}

.forum-pic {
  margin-bottom: 0;
}

.forum-body {
  margin-bottom: 6%;
}

.forum-response {
  padding: 2% 0;
  /* border-top: 1px dotted; */
  border-bottom: 3px dotted #ffe0cc;
}

.like-button, .comment-button {
  padding: 2% 3%;
}

.like-button:hover, .comment-button:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  outline: 1px solid #f0f0f0;
}

.like-icon, .comment-icon {
  margin-right: 1.5%;
}

.like-solid-icon {
  margin-right: 1.5%;
  color: #ff3333;
}

.forum-comments {
  margin-top: 6%;
}

.comment {
  margin: 4% 0;
}

.comment-user {
  font-weight: 500;
  display: inline;
  margin-right: 2%;
}

.comment-body {
  border: 1px solid #ffe0cc;
  box-shadow: -1px 1px 3px #c0c0c0;
  border-radius: 5%;
  margin-left: 1%;
}

.comment-content {
  margin-bottom: 0;
  white-space: pre-wrap;
}

.comment-pro-pic {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment-input {
  height: 100%;
  width: 100%;
  padding: 2%;
  resize: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
  min-height: 90px;
}

.post-comment-icon {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: #ff3333;
}

.post-comment-icon:hover, .delete-comment-icon:hover {
  cursor: pointer;
}

.delete-comment-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: #ff3333;
  font-size: 0.9rem;
}

.more-options {
  font-size: 1.2rem;
  float: right;
}

.more-options:hover {
  cursor: pointer;
}

.more-options-menu {
  right: 0;
  top: 0;
  left: unset;
}

/* compose page */

.newforum-container {
  padding: 10% 8%;
}

.richtext-editor {
  margin: 5% 0;
}
