.maintanance-container.container-fluid {
    padding: 5% 4%;
}

.payments-container {
    margin-top: 7%;
}

.amount-input {
    width: 87%;
}

.no-transactions {
    width: 95%;
    margin-bottom: 3%;
}

.maintanance-dd {
    width: 40%;
    margin-right: 5%;
}