.settings-container {
    padding: 2% 0;
}

.settings-form {
  margin : 9% 17%;
}

.settings-form .form-group {
  margin: 5% 4%;
}

.settings-header {
  text-align: center;
}

.settings-menu {
  padding: 2% 4%;
  border-bottom: 2px solid #ffc299;
  color: #68737d;
  margin: 0 2%;
}

.settings-menu:hover {
  cursor: pointer;
}

.settings-menu.active {
  color: #495057;
  cursor: pointer;
  border-bottom: 4px solid #ff6600;
}

.settings-form .btn-primary {
  margin-right: 20px;
}

.settings-container .btn-cancel:hover {
  color: #007bff;
  background-color: #d9d9d9;
}

.updatepassword-form .form-group {
  margin: 10% auto;
}
