.settings-container {
    padding: 2% 0;
}

.settings-form {
  margin : 9% 17%;
}

.settings-form .form-group {
  margin: 5% 4%;
}

.settings-header {
  text-align: center;
}

.settings-menu {
  padding: 2% 4%;
  opacity: 70%;
  border-bottom: 1px solid #ff9999;
  margin: 0 2%;
}

.settings-menu:hover {
  cursor: pointer;
}

.settings-menu.active {
  opacity: 100%;
  cursor: pointer;
  border-bottom: 4px solid #ff3333;
}

.updatepassword-form .form-group {
  margin: 10% auto;
}
