* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
  color: #3a4045;
}

html, body {
  height:100%;
}

p {
  line-height: 2.2;
}

h1, h2 {
  margin-bottom: 3%;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.full-height {
  height: 100%;
}

.btn-primary {
  margin-right: 20px;
}

.btn-cancel:hover {
  color: #007bff;
  background-color: #d9d9d9;
}
