<script>
$(document).ready(function() {
  let payment = new Payment();
  payment.registerEvents("#maintanance-container");
});
</script>
  

<div id="maintanance-container" class="maintanance-container container-fluid">
  <button id="pay-btn" class="btn btn-outline-primary">Pay</button>
</div>

<%- include("../partials/loading") -%>
